.details-content
  .details-content_main
    .details-content_main_header
      %h3 プロフィール
    .details-content_main-body
      - @animal.each do |animal|
        .details-content_main-body-image
          = image_tag src="https://publicdomainq.net/images/201802/28s/publicdomainq-0019419ubx.jpg", class:"detail_image-box"

        .details-content_main-body-title
          .label.details-content_main-body-title_info 名前
          .details-content_main-body-title_content=animal.name
        .details-content_main-body-title
          .label.details-content_main-body-title_info 年齢
          .details-content_main-body-title_content=animal.age

        .details-content_main-body-title
          .label.details-content_main-body-title_info  性別
          .details-content_main-body-title_content=animal.sex

        .details-content_main-body-title
          .label.details-content_main-body-title_info　種類
          .details-content_main-body-title_content=animal.kind



        .details-content_main-body-title
          .label.details-content_main-body-title_info 時間
          .label.details-content_main-body-title_text=animal.time


      .details-content_main-body_btn
        %input{type:"submit", value:"メッセージを送る", class:"edit-btn"}